# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/

# Database
db.sqlite3

# Environment variables / secrets
.env

# Media uploads (user files)
media/

# Static build files (optional)
staticfiles/

# OS files
.DS_Store
Thumbs.db

# Python compiled files
*.pyc